@property --gradient-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: '<angle>';
}

@keyframes border-animation {
  to {
    --gradient-angle: 360deg;
  }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 16px;
  gap: 16px;
  transition: transform 0.2s ease-in-out;
}

.card::before {
  position: absolute;
  z-index: -1;
  padding: 2px;
  animation: border-animation 4s infinite linear;
  background: linear-gradient(
    var(--gradient-angle),
    var(--color-primary),
    var(--color-secondary)
  );
  border-radius: 16px;
  content: '';
  inset: 0;
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
}

.card:hover {
  transform: scale(1.01);
}

.card__title {
  margin: 0;
  font-size: 1.125rem;
}

.card__description {
  margin: 0;
  font-size: 1rem;
}

.card__see-more {
  margin-top: auto;
}
