{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "extends": ["plugin:react/recommended", "prettier", "airbnb"],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "plugins": ["react"],
  "rules": {
    "react/jsx-props-no-spreading": "off",
    "react/function-component-definition": [
      "error",
      {
        "namedComponents": "function-declaration"
      }
    ]
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "alias": {
        "map": [
          ["@components", "./src/components"],
          ["@templates", "./src/templates"],
          ["@services", "./src/services"],
          ["@utils", "./src/utils"],
          ["@static", "./static"],
          ["@contexts", "./src/contexts"],
          ["tests", "./tests"]
        ],
        "extensions": [".js", ".jsx"]
      }
    }
  }
}
