{
  "extends": [
    "stylelint-config-recommended",
    "stylelint-order-config-csscomb",
    "stylelint-config-prettier",
    "stylelint-config-styled-components"
  ],
  "overrides": [
    {
      "files": ["**/*.jsx"],
      "customSyntax": "@stylelint/postcss-css-in-js"
    }
  ],
  "plugins": ["stylelint-order"],
  "rules": {
    "keyframes-name-pattern": null,
    "property-no-unknown": null,
    "value-keyword-case": ["lower", { "ignoreKeywords": ["dummyValue"] }],
    "selector-type-no-unknown": [
      true,
      {
        "ignoreTypes": ["/^-styled-mixin/"]
      }
    ]
  }
}
