---
layout: default
title: Desenvolvedor Front-End - Allysson dos Santos
---
<section class="blog-home" role="main" itemprop="mainContentOfPage" itemscope="itemscope" itemtype="http://schema.org/Blog">
  <p>Blog de <strong>Front-End</strong>, artigos, tutoriais, dicas e experimentos sobre front end, HTML5, CSS3, javascript, jquery, responsivo, mobile, webapps, <em>web design</em> e muito mais!.</p>

  <h2 class="blog-posts-title">Todos os posts:</h2>
  <section class="blog-posts">
    {% for post in site.posts %}
    <a class="blog-posts-link" href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}" {% if post.preview-img %} style="background-image: url('{{ post.preview-img }}')" {% endif %}>
      <article class="blog-posts-post" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
          <time class="blog-posts-date muted" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>
          <h2 class="blog-posts-heading" itemprop="name">{{ post.title }}</h2>
          <p class="blog-posts-description">{{ post.meta }}</p>
      </article>
      </a>

    {% endfor %}
  </section>
</section>
