.blog-header {
	padding: 10px 20px;
	width: 100%;
	background-color: #fff;
	text-align: center;
}

.blog-title {
	font-size: pxToEm(22);
	color: #000;
	text-decoration: none;
	display: inline-block;
}

.job {
	font-size: pxToEm(8);
}

.blog-navigator {
	display: inline-block;
	font-size: pxToEm(30);
	position: fixed;
	left: 20px;
	top: 0;
}

.blog-menu-button {
	cursor: pointer;
	position: relative;
	top: 3px;
	left: 0;
	transition: 0.4s ease-out;
}

#blog-menu-controller {
	display: none;
}

#blog-menu-controller:checked + .blog-navigator .blog-links {
	left: 0px;
	transition: 0.4s ease-out;
}

#blog-menu-controller:checked + .blog-navigator .blog-menu-button {
	left: 115px;
	transition: 0.4s ease-out;
}

.blog-links {
	position: fixed;
	top: 0;
	left: -115px;
	height: 100%;
	background-color: #333;
	list-style: none;
	text-align: right;
	transition: 0.4s ease-out;
}

.blog-links-item {
	text-decoration: none;
	font-size: pxToEm(10);
}

.page-link {
	text-decoration: none;
	color: #fff;
	display: block;
	padding: 30px;
}

.social-item {
	list-style: none;
	display: inline-block;
	font-size: 22px;
	margin-right: 10px;
}

.social-item a {
	color: #000;
}