.posts-list {
	margin-top: 20px;
	text-align: center;
}

.posts-post {
	display: block;
	width: 100%;
	vertical-align: top;
	text-align: left;
	padding: pxToEm(20);
	margin-top:20px;
	border: 1px solid #ccc;
	@include border-radius(5px);
}

.posts-date {
	color: #AAA;
	font-weight: 300;
	font-size: pxToEm(12);
}

.post-title {
	font-weight: 700;
	font-size: pxToEm(28);
}

.post-title--center {
	text-align: center;
}

.post-category-name {
	text-align: left;
	font-size: pxToEm(34);
	margin-top: 30px;
	padding-top: 70px;
	padding-bottom: 20px;
	width: 100%;
	text-align: center;
}

.posts-link {
	text-decoration: none;
	color: #333;
}

.post-content {
	font-size: pxToEm(16);
}

.post-description {
	font-size: pxToEm(18);
	margin-top: 15px;
}
.post-description--no-margin {
	margin: 0;
}

.post-category, .post-date {
	padding: 10px 10px 10px 0;
}

.post-category {
	padding: 5px;
	border: 1px solid #ccc;
	@include border-radius(5px);
	cursor: pointer;
	font-size: pxToEm(12);
	font-weight: 300;
	transition: 0.3s;
	color: #333;
	margin-top: 10px;
	display: inline-block;
}

.post-category:hover {
	background-color: #333;
	color: #fff;
	transition: 0.3s;
}
