.posts-list {
	margin-top: 20px;
	text-align: center;
}

.posts-post {
	display: block;
	width: 100%;
	vertical-align: top;
	text-align: left;
	padding: pxToEm(20);
	margin-top:20px;
	border: 1px solid #ccc;
	@include border-radius(5px);
	transition: box-shadow 0.2s linear;
}

.posts-post:hover {
	box-shadow: 0px 0px 5px #000;
}

.post-title {
	font-weight: 700;
	font-size: pxToEm(28);
}

.post-title--center {
	text-align: center;
}

.post-category-name {
	text-align: left;
	font-size: pxToEm(34);
	padding-top: 20px;
	width: 100%;
}

.posts-link {
	text-decoration: none;
	color: #333;
}

.post-content {
	font-size: pxToEm(16);
	margin-top: 10px;
}

.post-description {
	font-size: pxToEm(18);
	margin-top: 10px;
}
.post-description--no-margin {
	margin: 0;
}

.posts-date {
	display: block;
	margin-bottom: 10px;
}

.post-category {
	padding: 5px;
	border: 1px solid #ccc;
	@include border-radius(5px);
	cursor: pointer;
	font-size: pxToEm(12);
	font-weight: 300;
	transition: 0.3s;
	color: #333;
	margin-top: 10px;
	display: inline-block;
}

.post-category:hover {
	background-color: #333;
	color: #fff;
	transition: 0.3s;
}

.post-author {
	background-color: #eee;
}

.post-author-details {
	max-width: 1030px;
	margin: 50px auto;
	padding: 20px;
}

.post-author-img {
	border-radius: 50%;
	max-width: 150px;
	margin-right: 20px;
}

.post-author-name {
	font-size: pxToEm(28);
}

.post-author-description {
	display: inline-block;
	vertical-align: top;
}
