.home__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 64px;
  gap: 72px;

  @media (width <= 480px) {
    .home__container {
      flex-direction: column;
      gap: 24px;
    }
  }

  .home__name {
    margin-bottom: 1rem;
  }

  .home__description,
  .home__role {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
  }

  .home__description {
    margin-top: 26px;
    margin-bottom: 0;
  }

  .home__image {
    border-radius: 50%;
  }
}

.home__title {
  margin-top: 0;
  margin-bottom: 18px;
  font-size: 1.75rem;
}

.home__post-list {
  list-style: none;

  .home__post {
    margin-top: 24px;
  }
}
