.textarea {
  width: 100%;
  padding: 12px;
  border: none;
  background-color: var(--neutral-100);
  border-radius: 4px;
  color: var(--neutral-400);
  font-family: inherit;
  font-size: 1rem;
  resize: none;
  transition: background-color var(--transition), color var(--transition);
}
