.post {
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--neutral-100);
  color: var(--neutral-300);
  gap: 8px;
  text-decoration: none;
}

.post__title {
  font-size: 1.375rem;
  font-weight: 700;
}

.post__description {
  margin: 0;
  font-size: 1rem;
}
