<section class="author" itemprop="author">
  <div class="author-details">
  <img class="author-img" src="http://allysson.me/img/allysson.jpg" alt="Allysson dos Santos" itemprop="image">
      <div class="author-description" itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span class="muted">Autor:</span>
        <h2 class="author-name" itemprop="name">Allysson dos Santos</h2>
        <p><span itemprop="jobTitle">Desenvolvedor Front end</span> e <a href="https://www.facebook.com/affectingminds/?fref=ts" target="_blank">guitarrista</a> quando dá tempo!</p>
        <a href="https://github.com/allyssonsantos" target="_blank">github.com/allyssonsantos</a>
      </div>
  </div>
</section>