<footer class="footer">
	<p class="rss-subscribe"><i class="fa fa-rss-square"></i> Subscribe via <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></p>
	<p class="copyright"><i class="fa fa-creative-commons"></i> 2016 <a href="{{ site.url }}" title="{{ site.title }}">allysson.me</a> - <a href="https://creativecommons.org/licenses/by/3.0/br/" title="Atribuição 3.0 Brasil (CC BY 3.0 BR)">CC BY 3.0 BR</a></p>
</footer>
<script src="{{site.baseurl}}/jquery-git.min.js"></script>
<script src="{{site.baseurl}}/javascripts/spa.js"></script>
<script src="{{site.baseurl}}/javascripts/busca.js"></script>