<header class="blog-header">
	<a href="{{ site.url }}" title="{{ site.url }}"><h1 class="blog-title">{{ site.title }}</h1></a>
	<nav class="blog-navigator">
		<span class="blog-menu-button">
			<i class="fa fa-bars"></i>
		</span>
		<ul class="blog-links">
			{% for paginas in site.pages %}
				{% if paginas.title %}
					<li class="blog-links-item">
						<a class="page-link" href="{{ paginas.url | prepend: site.baseurl }}">{{ paginas.title }}</a>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	</nav>
</header>
