<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="manifest.json">

  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="256x256" href="{{ "/imgs/icon.png" | prepend: site.baseurl | prepend: site.url }}">
  <meta name="theme-color" content="#232526">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="allysson.me">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="apple-touch-icon-precomposed" href="{{ "/imgs/icon.png" | prepend: site.baseurl | prepend: site.url }}">

  <meta name="msapplication-TileImage" content="{{ "/imgs/icon.png" | prepend: site.baseurl | prepend: site.url }}">
  <meta name="msapplication-TileColor" content="#F77F00">

  <title>{% if page.title %}{{ page.title | escape }} - {{ site.name }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'> -->

</head>
