<input tabindex="0" type="checkbox" id="menu-controller" hidden>
<nav class="blog-navigator">
    <ul class="links">
        {% for page in site.pages %}
            {% if page.title %}
                <li class="linksitem">
                    <a class="pagelink" href="{{ page.url | prepend: site.baseurl }}" title="{{ page.title }}">{{ page.title }}</a>
                </li>
            {% endif %}
        {% endfor %}
        <li class="social-links">
            <a href="https://github.com/allyssonsantos" title="GitHub" class="link">
                <svg class="icon"><use xlink:href="{{site.baseurl}}/svgs/icones.svg#github" /></svg>
            </a>
            <a href="https://br.linkedin.com/in/allyssonsantos" title="LinkedIn" class="link">
                <svg class="icon"><use xlink:href="{{site.baseurl}}/svgs/icones.svg#linkedin" /></svg>
            </a>
            <a href="https://www.facebook.com/allysson.dossantos.7" title="Facebook" class="link">
                <svg class="icon"><use xlink:href="{{site.baseurl}}/svgs/icones.svg#facebook" /></svg>
            </a>
            <a href="mailto:aallysson0@gmail.com" title="E-mail" class="link">
                <svg class="icon"><use xlink:href="{{site.baseurl}}/svgs/icones.svg#email" /></svg>
            </a>
        </li>
    </ul>
</nav>
<label class="bg" for="menu-controller"></label>
