.article {
  font-size: 1.125rem;
}

.article h1 a,
.article h2 a,
.article h3 a,
.article h4 a,
.article h5 a,
.article h6 a {
  color: var(--neutral-400);
  text-decoration: none;
}

.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.article h1 + p,
.article h2 + p,
.article h3 + p,
.article h4 + p,
.article h5 + p,
.article h6 + p {
  margin-top: 0;
}

.article table {
  margin-bottom: 20px;
  border-collapse: collapse;
  font-size: 1rem;
}

.article table td, .article table th {
  padding: 12px;
  border: 1px solid var(--neutral-200);
}
