.base {
  display: grid;
  height: 100%;
  grid-template-areas: 'content';
  grid-template-columns: 1fr;
}

@media (width >= 48rem) {
  .base {
    grid-template-areas: 'sidebar content';
    grid-template-columns: 240px 1fr;
  }
}

.main {
  width: 100%;
  margin: 0 auto;
  grid-area: content;
}

.main--centralized {
  max-width: var(--content-max-width);
  padding: 16px;
}

@media (width >= 768px) {
  .main__menu-button {
    display: none;
  }
}
