.posts {
  margin: 10px;

  .card {
    border: 1px solid $border;
    border-radius: $radius;
    margin: 20px 0;

    img {
      width: 100%;
      border-top-left-radius: $radius;
      border-top-right-radius: $radius;
    }

    .date {
      display: inline-block;
      font-size: 0.75rem;
      padding: $defaultSpacing;
    }

    .title {
      font-size: 1.375rem;
      padding: $defaultSpacing $defaultSpacing 0 $defaultSpacing;
    }

    .description {
      font-size: 0.875rem;
      padding: 0 $defaultSpacing;
    }
  }
}
