.posts {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 20px;
  margin: 10px;

  .card {
    border: 1px solid  $border;
    border-radius: $radius;

    img {
      width: 100%;
    }

    .date {
      display: inline-block;
      font-size: 0.75rem;
      padding: 0 $defaultSpacing;
    }

    .title {
      font-size: 1.375rem;
      padding: $defaultSpacing $defaultSpacing 0 $defaultSpacing;
    }

    .description {
      font-size: 0.875rem;
      padding: 0 $defaultSpacing;
    }
  }
}
