* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: $black;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  padding-top: 100px;
  margin: 0 auto;
  max-width: 800px;
}

img {
  max-width: 100%;
  width: 100%;
}

ul {
  margin: 20px 0 20px 40px;
}

table {
  border-collapse: collapse;
  margin-bottom: 20px;
  word-break: break-all;

  td,
  th {
    border: 1px solid #ccc;
    padding: 10px;
  }
}
