.post {
  padding: 0 $defaultSpacing;

  .post-header {
    margin-bottom: 20px;
    max-width: 1000px;

    .title {
      font-size: 2rem;
      font-weight: 700;
    }

    .subtitle {
      border: none;
      font-size: 1.375rem;
      margin: 40px 0 0;
    }

    .description {
      font-size: 1.25em;
      margin-bottom: 20px;
    }
  }

  .content {
    font-size: 1rem;
    line-height: 1.8;
    margin-top: 20px;

    a {
      color: #03c;
    }
  }

  p {
    margin-bottom: 20px;
  }

  h2 {
    font-size: 1.75em;
    margin: 40px 0 30px;
    border-bottom: 1px solid $border;
  }
}

.transform {
  display: inline-block;
  margin-right: 20px;
  background-color: yellow;
  border: 1px solid #ccc;
  text-align: center;
  padding: 20px;
  transition: transform 1s;
  vertical-align: top;
  cursor: pointer;
}
@mixin transform($arg) {
  -webkit-transform: $arg;
  -moz-transform: $arg;
  -o-transform: $arg;
  transform: $arg;
}

.transform.translate:hover,
.transform.translate:focus,
.transform.translate:active {
  @include transform(translate(50px, 50px));
}

.transform.rotate:hover,
.transform.rotate:focus,
.transform.rotate:active {
  @include transform(rotate(25deg));
}

.transform.rotateY:hover,
.transform.rotateY:focus,
.transform.rotateY:active {
  @include transform(rotateY(180deg));
}

.transform.rotateY-negativo:hover,
.transform.rotateY-negativo:focus,
.transform.rotateY-negativo:active {
  @include transform(rotateY(-160deg));
}

.transform.rotate-anti-horario:hover,
.transform.rotate-anti-horario:focus,
.transform.rotate-anti-horario:active {
  @include transform(rotate(-25deg));
}

.transform.scale:hover,
.transform.scale:focus,
.transform.scale:active {
  @include transform(scale(2));
}

.transform.scale-torto:hover,
.transform.scale-torto:focus,
.transform.scale-torto:active {
  @include transform(scale(2, 4));
}

.transform.scale-negativo:hover,
.transform.scale-negativo:focus,
.transform.scale-negativo:active {
  @include transform(scale(-2));
}

.transform.skew:hover,
.transform.skew:active,
.transform.skew:focus {
  @include transform(skew(10deg, 5deg));
}

.transform.skew-um-parametro:hover,
.transform.skew-um-parametro:focus,
.transform.skew-um-parametro:active {
  @include transform(skew(20deg));
}

.transform.skewX:hover,
.transform.skewX:focus,
.transform.skewX:active {
  @include transform(skewX(15deg));
}

.transform.skewY:hover,
.transform.skewY:focus,
.transform.skewY:active {
  @include transform(skewY(15deg));
}

.transform.matrix:hover,
.transform.matrix:focus,
.transform.matrix:active {
  @include transform(matrix(2, 1, 1, 2, 200, 200));
}
