$radius: 5px;
$shadow: 0 0 2px 0px rgba(0, 0, 0, 0.5);

.small {
  font-size: 0.75rem;
}

.error {
  background-color: #ffe0e0;
  border: 1px solid #eee;
  color: #f00;
  display: block;
  margin-bottom: 10px;
  padding: 3px;
}

blockquote {
  border-left: 5px solid #414345;
  font-size: 1.4em;
  margin: 40px 0;
  padding-left: 20px;
}
