.about__title {
  margin-top: 4rem;
  margin-bottom: 4rem;
  font-size: 4rem;
  line-height: 1;
  text-align: center;
}

.about__title + p {
  margin: 0;
}

.about__subtitle {
  margin-bottom: 4rem;
  font-size: 3rem;
  line-height: 1;
  text-align: center;
}

.about__divider {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
