.blog-author
  background-color $gray

  > .details
    color $white
    max-width 1030px
    margin 50px auto
    padding 20px

    @media (max-width: 656px)
      text-align center

    > .img
      border-radius(50%)
      max-width 150px
      margin-right 20px

    > .description
      display inline-block
      padding-top 20px
      vertical-align top

      > .name
        font-size: pxToEm(28);
        margin-bottom 10px