.post-card
  background-position center
  background-size cover
  border 1px solid $gray-300
  border-radius(5px)
  display inline-block
  flex-basis 310px
  flex-grow 1
  margin 0 8px 20px
  min-height 300px
  position relative
  vertical-align top
  text-align left
  text-decoration none
  transition(all 0.5s)
  width 310px

  &:hover, &:focus
    box-shadow(0px, 0px, 5px, $gray-400)
    transform(scale(1.01))
    transition(all 0.3s)

  > .post
    background-color $white
    border-radius(4px)
    bottom 0
    padding 10px 10px 0 10px
    position absolute
    width 100%

    > .date
      display inline-block
      margin-bottom 10px

    > .author
      float right
      display block
      margin-top 3px

      &:before
        content 'Autor: '

    > .heading
      display block
      font-weight 700
      font-size pxToEm(18)
      margin-top 5px
      margin-bottom 5px

    > .description
      font-size pxToEm(14)
      margin-bottom 10px


.post-card-horizontal
  border 1px solid $gray-300
  border-radius(5px)
  display block
  margin-top 20px
  padding pxToEm(20)
  text-align left
  transition(box-shadow 0.2s linear)
  vertical-align top
  width: 100%

  &:hover, &:focus
    box-shadow: 0px 0px 5px $black;

  > .link
    color #333
    text-decoration none

    > .date
      display block
      margin-bottom 10px

    > .heading
      font-weight 700
      font-size pxToEm(18)
      display block
      margin-top 5px
      margin-bottom 5px
