.muted
  font-size pxToEm(12)
  font-weight 300
  opacity 0.8

.hide
  display none

p
  margin-bottom 20px

body
  color $gray-600
  font-family 'Roboto', sans-serif

  @media (max-width: 656px)
    font-size 90%

img
  max-width 100%
  width 100%

blockquote
  border-left 5px solid #414345
  font-size 1.5em
  margin-bottom 10px
  padding-left 10px

figcaption
  background-color #f9f9f9
  border 1px solid #ccc
  border-radius(5px)
  font-size 14px
  margin-bottom 20px
  padding 5px
  text-align center

.code-piece, .highlighter-rouge
  background-color $gray-100
  border 1px solid $gray-300
  border-radius(5px)
  color #333
  display inline-block
  font-size 0.8em
  padding 0 3px

.error
  background-color #ffe0e0
  border 1px solid #eee
  color red
  display block
  margin-bottom 10px
  padding 3px