border-radius($radius = 5)
  -webkit-border-radius: $radius
  -moz-border-radius: $radius
  -ms-border-radius: $radius
  border-radius: $radius

box-shadow()
  -webkit-box-shadow: arguments
  -moz-box-shadow: arguments
  -ms-box-shadow: arguments
  box-shadow: arguments

gradient()
  background: linear-gradient(arguments)

transition()
  -webkit-transition: arguments;
  -moz-transition: arguments;
  -o-transition: arguments;
  transition: arguments;

transform()
  -webkit-transform: arguments;
  -moz-transform: arguments;
  -o-transform: arguments;
  transform: arguments;

$browser-context = 16
pxToEm($pixels, $context = $browser-context)
  unit(($pixels/$context), em)
