.article ul {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  list-style-position: inside;
}

.article li {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.article li::marker {
  color: var(--neutral-200);
}

.article__header {
  display: flex;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 1rem;
  gap: 1rem;
}

.article__title {
  margin-top: 0;
  margin-bottom: 1rem;
}

.article__reading-time {
  flex-shrink: 0;
  font-size: 1rem;
  font-weight: bold;
}

.article__cover-wrapper {
  position: relative;
  height: 500px;
  margin-bottom: 3rem;
}

.article__cover {
  width: 100%;
  max-width: 100%;
  border-radius: 8px;
  object-fit: contain;
}

@media (width <= 768px) {
  .article__header {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }

  .article__cover-wrapper {
    height: 300px;
    margin-bottom: 1rem;
  }
}
