.avatar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 4px 4px 8px;
  border: 1px solid var(--neutral-200);
  border-radius: 9999px;
  background-color: transparent;
  color: inherit;
  gap: 12px;

  &:hover {
    background-color: var(--neutral-200);
  }

  & img {
    border-radius: 50px;
  }
}
