.content
  margin: 0 auto
  padding: pxToEm(66) 0 0 0

.blog-home
  max-width 1030px
  margin 25px auto 0
  padding 0 20px

  > .paragraph
    margin-bottom 10px

  > .title
    font-size pxToEm(22)
    margin 30px 0 20px 0
    text-align left

  > .blog-posts
    text-align center
    display flex
    flex-wrap wrap
