.about__title {
  font-size: 2rem;
}

.about__subtitle {
  font-size: 1.725rem;
}

.about__divider {
  margin-top: 24px;
  margin-bottom: 24px;
}

.about__details + .about__details {
  margin-top: 8px;
}

.about__details-summary {
  cursor: pointer;
}

.about__list {
  margin-top: 0;
  margin-left: 30px;
}
