/* stylelint-disable selector-id-pattern */

* {
  box-sizing: border-box;
}

body {
  color: #333;
}

body,
html,
#__next {
  height: 100%;
}

body,
ul,
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
}
