:root {
  color-scheme: light dark;

  --primary-200: light-dark(#00a8a8, #00a8a8);
  --primary-300: light-dark(#007a7a, #00c7c7);
  --primary-400: light-dark(#003030, #007a7a);
  --white: light-dark(#fff, #0d0d0d);
  --neutral-100: light-dark(#f2f2f2, #111);
  --neutral-200: light-dark(#ccc, #333);
  --neutral-300: light-dark(#333, #ccc);
  --neutral-400: light-dark(#111, #f2f2f2);
  --blur-backdrop-color: light-dark(#ffffffc7, #0d0d0dc7);
  --backdrop-color: light-dark(#0d0d0d, #0d0d0d);
  --icon-size: 3rem;
  --transition-duration: 100ms;
  --transition-timing-function: ease-in-out;
  --transition: var(--transition-duration) var(--transition-timing-function);
  --animation-duration: 250ms;
  --animation-timing-function: ease-in-out;
  --animation: var(--animation-duration) var(--animation-timing-function);
  --content-max-width: 48rem;
}

:root.light {
  color-scheme: light;
}

:root.dark {
  color-scheme: dark;
}
